@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --el-color: #333;
}
h1,
h2,
h3,
h4,
p {
  color: var(--el-color);
}
a {
  text-decoration: none;
}
i {
  color: #eb7620;
}
h1 {
  font-size: 2.5rec;
}
h2 {
  font-size: 2rec;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
h3 {
  font-weight: 600;
}
p {
  font-weight: 300;
}
/*margin between section*/
.m-t {
  margin-top: 80px;
}
.m-b {
  margin-bottom: 100px;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* header */
nav {
  height: 100px;
}
nav h2 {
  float: left;
  display: inline;
  line-height: 100px;
}
nav ul {
  float: right;
  line-height: 100px;
}
nav ul li {
  display: inline-block;
  margin: 0 25px;
}
nav ul li a {
  text-transform: uppercase;
}
.active {
  background-color: #eb7620;
  border-radius: 20px;
  padding: 7px 25px;
  color: white;
}
/* showcase*/
.showcase {
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/metting.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid #eb7620;
}
.showcase-content h1 {
  color: white;
  letter-spacing: 2px;
}
.showcase-content p {
  margin: 50px 0;
  color: white;
}
.showcase-content {
  width: 50%;
  margin: auto;
  text-align: center;
  transform: translateY(30vh);
}
.showcase-content .btn {
  color: white;
  border: 2px solid white;
  padding: 10px 60px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s all;
}
.showcase-content .btn:hover {
  background-color: #eb7620;
  border: 0;
}
/*abou*/
.about .about-image {
  width: 45%;
  float: left;
}
.about-wrappere img {
  height: auto;
  max-width: 100px;
}
.about .about-content {
  width: 45%;
  float: right;
  text-align: left;
}
.about .line {
  width: 150px;
  height: 6px;
  margin-top: 50px;
  background-color: #333;
}
.about p {
  margin-top: 50px;
}
.about ul {
  margin-top: 50px;
  list-style: none;
}
.about ul li {
  margin: 10px 0;
}
.about .fa-li {
  margin-left: -20px;
}
.social-icon {
  margin-top: 50px;
  margin-bottom: 50px;
}
.social-icon i {
  padding: 10px;
  font-size: 30px;
  border: 1px solid black;
}
